.container {
    max-width: 120rem;
    min-height: 50rem;
    margin: 8rem auto;
    background: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;

    font-size: 1.4rem;
    background: #fff;
    border-bottom: var(--line);
}
.content {
    display: flex;

}

.sidebar {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    // grow, shrink, basis
    // We dont want it to grow if theres space, and not to shrink if theres not enough
    flex: 0 0 18%;

    background: var(--color-grey-dark-1);
}

.hotel-view {
    // should grow as much as it can - 82%
    // TEST
    // height: 80rem;
    // 

    flex: 1;
    background: #fff;
}

.detail {
  display: flex;
  padding: 4.5rem;
  background: var(--color-grey-light-1);
  border-bottom: var(--line);
}

.description {
  padding: 3rem;
  flex: 0 0 60%;
  box-shadow: var(--shadow-light);
  margin-right: 4.5rem;
  font-size: 1.4rem;
}

.user-reviews {
  flex: 1;
  background: yellowgreen;
}