.header {
  position: relative;
  height: 95vh;
  /* Apparently yo can set params, the first one is over the second */
  /* to right lets linear-grad know what direction the colors are shown */
  background-image: linear-gradient(to right bottom, 
          rgba(126, 213, 111, .8), 
          rgba(40, 180, 133, .8)), 
          url(../img//hero.jpg);
  /* tries to cover element it is in */
  background-size: cover;
  /* Fixes image to the top, top never changes when movin screen, only sides crop */
  background-position: top;
  /* This is how you can form your image, setting (x y) on each corner */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-box {
      position: absolute;
      top: 4rem;
      left: 4rem;
  }
  &__logo {
      height: 3.5rem;
  }
  &__text-box {
      position: absolute;
      /* in relation to the parent element */
      top: 40%;
      left: 50%;
      /* THIS IS HOW TO MAKEE IT RESPONSIVE */
      /* in relation to element itself  */
      transform: translate(-50%, -50%);
      /* This fixes the anchor tag because its text */
      text-align: center;
      color: $color-white;
  }
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
  }
  &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.7rem;
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;
  }
}